#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: F4F7FA;
}

#copyButton:hover {
    -fx-background-color: -fx-focus-color;
}

#copyButton:armed {
    -fx-background-color: F4F7FA;
}

#helpMessageContainer {
    -fx-background-color: white;
}
